/* banner section is start here */
@media screen and (max-width:576px) {
    .banner-section{
        flex-direction: column;
    }

    .banner-content{
        width: 100%;
        padding:30px;
    }

    .hide{
        display: none;
    }

    .banner-content h1{
        font-size: 2rem;
    }
    .banner-content p{
        
        width: 250px;
    
    }

    .banner-image{
        width: 100%;   
    }

    .hero-background img{
        width: 100%;
    }

    .hero-background{
        padding-top: 60px;
       
    }


    /* about me section here */

    .about-me-image{
        width: 100%;
        
    }

    .about-me-container{
        flex-direction: column;
        height: 1200px;
        margin-top: 500px;
        
    }

    .about-me-image img{
        margin-left: 100px;
       
    }

    .about-me-desc{
        width: 100%;
        
    }

    .recepies-container h1{
        text-align: center;
        width: 706px;
        margin: 0 auto;
    }
    .recepies-container p{
        text-align: center;
        width: 706px;
        margin: 0 auto;
    }

    .card{
        display: flex;
    }
    
    