@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;

}

/* default styles */
.container{
    width: 80%;
    margin: 0 auto;
}

button{
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
}

span{
    color: rgb(251, 162, 79);
    font: 3rem;
    font-weight: 700;
}

/* banner section starts here */

.banner-section{
    display: flex;
    gap: 20px;
}

.banner-content{
    width: 50%;

}

.banner-image{
    width: 50%;
    position: relative; 
   
    
}

.hero-image{
    position: absolute;
    z-index: 2;
   
    
}


.hero-image img{
    width: 100%;
    
}

.hero-background img{
    width: 100%;
}

.hero-background{
    position: absolute;
    top: 20%;
    left: 12%;
    z-index: 1;
    
}

.banner-content{
    padding: 170px 50px;
}

.banner-content h1{
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-content p{
    color: rgb(130, 130, 130);
    font-family: Montserrat;
    width: 350px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}












